p {
    background: rgb(255, 0, 170);
    color: rgb(255, 255, 255);
}
a {
    font: Courier;
    font: 14px Courier;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0px 5px 0px 5px;
    border-right: 2px solid rgb(255, 255, 255);
  }
  
  .mainNav {
    height: 30px;
    background: rgb(221, 4, 196);
    padding-top: 7px;
    padding-left: 5px;
    margin-top: 20px;
    box-shadow: 4px 6px rgb(128, 128, 128);
    overflow: hidden;
  }
  p {
    font-family: "Lucida Console", Courier, monospace;
  }
  p {
    font-family: "Akronim", cursive;
    font-size: 5em;
  }