
body {
    background-color: rgb(157, 157, 157);
    height: 100vh; /* Höhe des Körpers auf 100% der Viewport-Höhe */
    display: flex; /* Aktiviert Flexbox für das Layout, Anrichtung im Element */
    flex-direction: column; /* Element in Spalte angeordnet */
}

/*mainseite*/

.topbox {
    background-color: transparent;
    flex-direction: column;
    height: 15%;
    display: flex;
    align-items: center; /* Elemente und Inhalt Mittig */
    align-content: center;
}

.ueberschrift {
    color:rgb(182, 143, 255);
    text-shadow:3px 5px 4px black;
    font-family: cursive;  
    font-size: 50px; 
}

.bottombox {
    background-color: transparent;
    flex-direction: row; /* Elemente in Reihe */
    flex-grow: 1; /* Box waechst um Platz zu fuellen */
    display: flex;
    justify-content: center;
    border-radius: 20px; /* Ecken abrunden */
}

.linkeSeite {
    background-color: transparent;
    flex-direction: column;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative; /* Position relativ zu Container */
}

.name {
    background-color:  rgb(27, 27, 27);
    flex-direction: column;
    width: 55%;
    height: 20%;
    display: flex;
    margin-top: 5%; /* Abstand nach Oben */
    align-items: center; /* Element zentrieren */
    border: none;
    border-radius: 5%;
}

.nametext {
    color:rgb(182, 143, 255);
    text-shadow:3px 5px 4px black;
    font-family:cursive;
    font-size: 30px;
}

.highscore {
    background-color: rgb(27, 27, 27);
    width: 70%;
    height: 40%;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 5%;
    border: none;
    border-radius: 5%;
}

.highscoretext {
    color:rgb(182, 143, 255);
    text-shadow:3px 5px 4px black;
    font-family:cursive;
    font-size: 30px;
}

.savebutton {
    position: absolute;
    bottom: 5%; /* Abstand zu Seiten */
    right: 5%;
    width: auto;
    height: auto;
}

.rechteSeite {
    background-color:transparent;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.imagebutton {
    display: flex;
    margin-top: 7%;
    margin-left: -25%;
    width: auto;
    height: auto;
}

.resetbutton {
    position: absolute;
    bottom: 5%;
    left: 7%;
    width: auto;
    height: auto;
}

.mitte {
    background-color: transparent;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.puzzlefeld {
    background-color: black;
    aspect-ratio: 1/1; /* Ratio fuer quadratische Form */
    display: flex;
    height: 85vh;
    margin-top: 1%;
}

/* From Uiverse.io by vinodjangid07 */
.runderbutton {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
    position: relative;
}

.svgIcon {
    fill: rgb(214, 178, 255);
}

.icon2 {
    width: 18px;
    height: 5px;
    border-bottom: 2px solid rgb(182, 143, 255);
    border-left: 2px solid rgb(182, 143, 255);
    border-right: 2px solid rgb(182, 143, 255);
}

.tooltip {
    position: absolute;
    right: -65px;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    letter-spacing: 0.5px;
}


/*Sichtbarkeit Hover Tooltip */
.runderbutton:hover .tooltip , .runderbutton:hover .tooltipimport , .runderbutton:hover .tooltipstart{
    opacity: 1;
} 

/*Farbe Hover Hintergrund*/
.runderbutton:hover {
    background-color: rgb(150, 94, 255);
}

/*Farbe Hover Pfeil*/
.runderbutton:hover .svgIcon {
    fill: rgb(235, 235, 235);
}

/*Farbe Hover Viereck*/
.runderbutton:hover .icon2 {
    border-bottom: 2px solid rgb(235, 235, 235);
    border-left: 2px solid rgb(235, 235, 235);
    border-right: 2px solid rgb(235, 235, 235);
}

/*.grosserbutton*/
.runderbuttongross {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Zeiger aendert sich beim Hovern */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
    position: relative;

}
.tooltipgross {
    position: absolute;
    right: -120px;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    letter-spacing: 0.5px;
}

/*Sichtbarkeit Hover Tooltip */
.runderbuttongross:hover .tooltipgross {
    opacity: 1;
}

/*Farbe Hover Hintergrund*/
.runderbuttongross:hover {
    background-color: rgb(150, 94, 255);
}

/*Farbe Hover Pfeil*/
.runderbuttongross:hover .svgIcon {
    fill: rgb(235, 235, 235);
}

/*Farbe Hover Viereck*/
.runderbuttongross:hover .icon2 {
    border-bottom: 2px solid rgb(235, 235, 235);
    border-left: 2px solid rgb(235, 235, 235);
    border-right: 2px solid rgb(235, 235, 235);
}
img {
    width: 100%;      /* Bild auf die Breite des Parent-Elements skalieren */
    height: auto;     /* Höhe wird automatisch angepasst um Seitenverhältnis zu behalten */
    max-width: 100%;  /* Maximale Breite auf 100% begrenzen */
    max-height: 100%; /* Maximale Höhe auf 100% begrenzen */
}


/*startseite*/

.linkeSeitestart {
    background-color: transparent;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mittestart {
    background-color: transparent;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.rechteSeitestart {
    background-color:transparent;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.importbutton {
    position: absolute;
    top: 5%;
    right: 5%;
    width: auto;
    height: auto;
  
}
.tooltipimport  {
    position: absolute;
    right: -115px;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    letter-spacing: 0.5px;
}

.startbutton {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: auto;
    height:auto;
}

.tooltipstart {
    position: absolute;
    right: -95px;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    letter-spacing: 0.5px;
}

.mittetabelle {
    background-color:rgb(27, 27, 27);
    width: 100%;
    height:auto;
    margin:3%; /* Abstand */
    border-collapse: separate; /* Trennung der Tabellenränder */
    border-spacing: 0px;  /* Kein Abstand zwischen Zellen */
    width: 100%;
    border-radius: 20px; 
    overflow: scroll; /* Kein overflow von Inhalt */
}
th, td {
    border: 3px solid rgb(182, 143, 255);
    padding: 8px; /* Innenabstand */
    text-align: left; /* Text linksbuendig */
    color: rgb(235, 235, 235);
    font-family: cursive;
}

/* Erste und letzte Zeile abgerundete Ecken */
tr:first-child th:first-child {
    border-top-left-radius: 20px; /* Rund oben links */
}

tr:first-child th:last-child {
    border-top-right-radius: 20px; 
}

tr:last-child td:first-child {
    border-bottom-left-radius: 20px; 
}

tr:last-child td:last-child {
    border-bottom-right-radius: 20px; 
}
/*Styling Tabelle (nicht Kommentare) mit ChatGpt*/